github "Swinject/Swinject"
github "Swinject/SwinjectStoryboard"
github "ninjaprox/NVActivityIndicatorView"
github "SnapKit/SnapKit"
github "RNCryptor/RNCryptor" ~> 5.0

binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseAnalyticsBinary.json"
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseAuthBinary.json"
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseRemoteConfigBinary.json"
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseStorageBinary.json"
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseFirestoreBinary.json"

binary "Crashlytics.json"
