<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>776506470916-r54hqcgpkpuib3h0rj1jltr0t6n5tetd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.776506470916-r54hqcgpkpuib3h0rj1jltr0t6n5tetd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>776506470916-2iasnrlcrlnujei3esg39tpfl48iee9l.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCGNZzSnyjUJ1AkM_YF8LA2eNscTE37RCo</string>
	<key>GCM_SENDER_ID</key>
	<string>776506470916</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.mamori-i.app</string>
	<key>PROJECT_ID</key>
	<string>contact-tracing-26716</string>
	<key>STORAGE_BUCKET</key>
	<string>contact-tracing-26716.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:776506470916:ios:5a6e0ef29476cf7f0bfb51</string>
	<key>DATABASE_URL</key>
	<string>https://contact-tracing-26716.firebaseio.com</string>
</dict>
</plist>
